.App .container {
  display: flex;
  justify-content: center;
}

/* Header Component styling */
.Header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Header .logo img {
  width: 90px;
}

/* Profile Component styling */
.Profile {
  padding: 10px;
}