.App .Cont {
  display: flex;
  justify-content: center;
}

/* Header Component styling */
.Header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
}

.Header .logo img {
  width: 90px;
}

/* Post Component styling */

.Post {
  border: 1px solid #000;
  width: 500px;
  padding: 10px;
  margin: 10px;
}