.App .Container {
  display: flex;
  justify-content: center;
}

/* Header Component styling */
.Header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
}

.Header .logo img {
  width: 90px;
}

/* Post Component styling */